@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    display: flex;
    gap: 1.5rem;
}

header {
    display: inline;
}

h2,
h3 {
    color: #00ab4d;
}

.jumbotron {
    padding: 60px;
    background-color: #00ab4d;
    text-align: center;
    font-size: 20px;
    color: white;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
}

.featured-images {
    width: 700px;
    object-fit: cover;
    object-position: center;
}

nav {
    background-color: #ddbc34;
    padding: 5px;
    position: sticky;
    top: 0;
}

nav ul {
    padding-inline: 4rem;
    display: flex;
    gap: 2rem;
}

nav li {
    list-style-type: none;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav a:hover {
    font-weight: bold;
}

#content {
    flex: 5;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

p {
    text-indent: 50px;
    text-align: justify;
}

aside {
    flex: 1;
}

.profile header {
    text-align: center;
}

.profile img {
    width: 200px;
}

footer {
    padding: 20px;
    color: white;
    background-color: #ddbc34;
    text-align: center;
    font-weight: bold;
}

footer p {
    text-align: center;
}

@media screen and (max-width: 1200px) {
    main {
        flex-flow: column nowrap;
    }
    main aside {
        align-self: center;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        justify-content: center;
    }
    main aside {
        align-self: stretch;
    }
}